<h1>Dashboard</h1>
<div class="row">
    <div *ngFor="let data of dashboardData" class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow h-100 py-2" [class]="data.style">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold  text-uppercase mb-1" >
                            {{ data.label }}
                        </div>
                        <div class="h5 mb-0">5</div>
                    </div>
                    <div class="col-auto">
                        <i class=" card-itens" [class]="data.icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
